* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 248, 170);
  background: linear-gradient(
    0deg,
    rgba(255, 248, 170, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}

/* Navbar Section */

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.38rem;
}

.img img {
  height: 110px;
  width: 390px;
}

/* Prize Section */

.prize__Section {
  display: flex;
  max-width: 1700px;
  padding: 0 10px;
  margin: 0 auto;
  flex: 1;
  margin-bottom: 1.75rem;
}

.prize__img-content {
  flex: 1;
}

.trophy__img img {
  height: 710px;
  width: 500px;
}

.img__desc-1 {
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__desc-1 p {
  font-weight: bold;
  margin-bottom: 8px;
}

.img__desc-2 {
  width: 100%;
  margin-left: 13rem;
}

.img__desc-2 ul li {
  margin-bottom: 6px;
}

.prize__img img {
  height: 530px;
  width: 80%;
  margin-left: 3rem;
}

.img__desc-3 p {
  width: 76%;
  padding: 0 30px;
  margin-left: 2.25rem;
}

.img__desc-3 p span {
  font-weight: bold;
}

/* Motors Section */
.motors__section {
  width: 96%;
  border-bottom: 1px solid #000;
  margin: 0 auto 1.3rem auto;
}

.motors__pgh {
  text-align: center;
  word-spacing: 1.2px;
  margin-bottom: 1rem;
}

.img__motors img {
  height: 490px;
  width: 72%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* Fluid System Section */
.fluid__system {
  text-align: center;
  width: 96%;
  margin: 0 auto 1.3rem auto;
  word-spacing: 1.2px;
}

.fluid__system p:first-child {
  font-weight: bold;
  margin-bottom: 1.24rem;
}

/* Footer Section */
.footer__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  height: 100px;
  margin: 0 auto 0.34rem auto;
  background: #fd4141;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1.2px;
}

.social_meida {
  display: flex;
  align-items: center;
}

.social_meida p {
  margin-left: 10px;
}

/* Media Queries  for Laptops*/
@media screen and (max-width: 1000px) {
  /* Prize Section */

  .prize__Section {
    font-size: 14px;
  }

  .trophy__img img {
    height: 510px;
    width: 300px;
  }

  .img__desc-1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img__desc-2 {
    width: 100%;
    margin-left: 4rem;
  }

  .prize__img img {
    height: 330px;
    width: 90%;
    margin-left: 1rem;
  }

  .img__desc-3 p {
    width: 86%;
    padding: 0 30px;
    margin-left: 0.25rem;
  }

  /* Motors Section */
  .motors__section {
    width: 96%;
    border-bottom: 1px solid #000;
    margin: 0 auto 1.3rem auto;
    font-size: 14px;
  }

  .motors__pgh {
    text-align: center;
    word-spacing: 1.2px;
    margin-bottom: 0.3rem;
  }

  .img__motors img {
    height: 310px;
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  /* Fluid System Section */
  .fluid__system {
    text-align: center;
    width: 96%;
    margin: 0 auto 1.3rem auto;
    word-spacing: 1.2px;
    font-size: 14px;
  }

  /* Footer Section */
  .footer__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 80px;
    margin: 0 auto 0.34rem auto;
    background: #fd4141;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.2px;
  }
}

/* Media Queries for Mobiles and Smaller Screens */
@media screen and (max-width: 600px) {
  /* Navbar */
  .img img {
    height: 76px;
    width: 250px;
  }

  /* Prize Section */
  .prize__Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    flex: 1;
    margin-bottom: 1.75rem;
  }

  .prize__Section {
    font-size: 13.5px;
  }

  .trophy__img img {
    height: 510px;
    width: 300px;
  }

  .img__desc-1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .img__desc-2 {
    width: 90%;
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  .prize__img img {
    height: 260px;
    width: 90%;
    margin-bottom: 0.8rem;
  }

  .img__desc-3 p {
    width: 86%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
  }

  /* Motors Section */
  .motors__section {
    width: 96%;
    border-bottom: 1px solid #000;
    margin: 0 auto 1.3rem auto;
    font-size: 13px;
    line-height: 1.4;
  }

  .img__motors img {
    height: 210px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  /* Fluid System Section */
  .fluid__system {
    text-align: center;
    width: 96%;
    margin: 0 auto 1.3rem auto;
    word-spacing: 1.2px;
    font-size: 13px;
  }

  /* Footer Section */
  .footer__section {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 180px;
    margin: 0 auto 0.34rem auto;
    background: #fd4141;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .social_meida {
    margin: 10px 0;
  }
}
